body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1400px;
}

.navbar {
  background-color: #6382ff;
  border-radius: 2px;
  max-width: 100%;
}

.navbar a {
  color: #030303;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}
img
{
  height: 550px;
  width: 850px;
  border: 1px solid black;
}
